<div id="myModal" class="modal large hide " tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="display:none">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Identificación de paciente</h3>
  </div>
  <div class="modal-body">


<div id="loading" style="display:none">Cargando ...</div>
  <div id="identification-content"> </div>
  <div id="identification-alta-content"></div>
  <div id="buscar-financiador-view"> </div>
  <div id="busquedas-content-partido"> </div>
  <div id="busquedas-content-localidad"> </div>
  <div id="busquedas-content-responsables"> </div>
  <div id="busquedas-content-juzgados"> </div>
  <div id="identificacion-historia-clinica"> </div>
</div>

<div class="modal-footer" style="display:none">
    <button id="btn-cancelar-modal" class="btn only-modal-btn" data-dismiss="modal" aria-hidden="true"></button>
    <button id="btn-elegir-paciente" class="btn btn-primary only-modal-btn"></button>
    <button id="btn-volver-modificacion" class="btn" style="display:none">&lt;&lt;Volver</button>
    <button id="btn-paciente-save" class="btn btn-warning" style="display:none">Guardar</button>
  </div>

</div>

